In [1]:
import pandas as pd

In [2]:
#Create a series object which stores the total number of candidates in the 5 sections of an MNC company also gives the name of section. Write a code to modify the value of 2nd section to any value of your choice and the section number 4th & 5th needs to be modified.
S1 = pd.Series(100, index=["Web_Developer","AI_Engineer","Software_Tester","SQL Developer","Manfacturer","Helper" ])
S1

Web_Developer      100
AI_Engineer        100
Software_Tester    100
SQL Developer      100
Manfacturer        100
Helper             100
dtype: int64

In [3]:
S1[2]=150
S1[4]=200
S1[5]=250
S1

Web_Developer      100
AI_Engineer        100
Software_Tester    150
SQL Developer      100
Manfacturer        200
Helper             250
dtype: int64

In [5]:
#Consider the two series objects as A1(class 11) & A2(12) which storing the total number of students in 3 streams Science, commerce and humanities. Write a code to find the total number of students of both the series objects stream vise.
A1= pd.Series([60,70,50], index=["Science","Commerce","Humanities"])
A2= pd.Series([75,80,60], index=["Science","Commerce","Humanities"])
print("11th Std")
print(A1)
print("")
print("12th Std")
print(A2)

11th Std
Science       60
Commerce      70
Humanities    50
dtype: int64

12th Std
Science       75
Commerce      80
Humanities    60
dtype: int64

In [6]:
A3 = A1+A2
print("Total number of Students:")
print(A3)

Total number of Students:
Science       135
Commerce      150
Humanities    110
dtype: int64

In [9]:
#Create the object 1 as population storing the details of populations in 4 different metro cities of India and object 2 is average income stores the total average income of the population in the 4 metro cities. Calcualte income per capita for each of these metro cities.
Population = pd.Series([12000000,15000000,17000000,7000000,6000000], index=["Delhi","Bangalore","Mumbai","Hyderabad","Ahemadabad"])
Income = pd.Series([600000,830000,700000,650000,750000], index=["Delhi","Bangalore","Mumbai","Hyderabad","Ahemadabad"])
print(Population)
print("")
print(Income)

Delhi         12000000
Bangalore     15000000
Mumbai        17000000
Hyderabad      7000000
Ahemadabad     6000000
dtype: int64

Delhi         600000
Bangalore     830000
Mumbai        700000
Hyderabad     650000
Ahemadabad    750000
dtype: int64

In [10]:
Income_Per_capita = Income/Population
print(Income_Per_capita)

Delhi         0.050000
Bangalore     0.055333
Mumbai        0.041176
Hyderabad     0.092857
Ahemadabad    0.125000
dtype: float64

In [11]:
#Create a series object S2 which stores the charity contribution made by 4 sections A,B,C,D. Write a code to display the sections who has displayed the contribution more than 8000
S2= pd.Series([7000,8500,9000,7500],index=["Section A","Section B","Section C","Section D"])
print(S2)

Section A    7000
Section B    8500
Section C    9000
Section D    7500
dtype: int64

In [12]:
print(S2>8000)
print("")
print(f"Sections with More than 8000 charity contribution")
print(S2[S2>8000])

Section A    False
Section B     True
Section C     True
Section D    False
dtype: bool

Sections with More than 8000 charity contribution
Section B    8500
Section C    9000
dtype: int64