#**SCIFOR ASSIGNMENT- 1**
1) Write a Python function that takes a list and returns a new list with distinct elements from
the first list.

In [ ]:
#Importing the Libraries
import numpy as np
import pandas as pd

In [ ]:
#printing the unique list with user defined list
def unique_elements():
    n = int(input("No. of elements:"))
    elements = input("List values:")
    lst = list(map(int,elements.split()))
    print("List:",lst)
    unique_lst = np.unique(lst)
    return unique_lst.tolist()

print("Unique_List:",unique_elements())

No. of elements:10
List values:1 2 3 4 2 6 4 8 9 10
List: [1, 2, 3, 4, 2, 6, 4, 8, 9, 10]
Unique_List: [1, 2, 3, 4, 6, 8, 9, 10]

2) Write a Python program to access a function inside a function.

In [ ]:
def outer_fun():
  def inside_fun():
      a = 2
      b = 3
      print("Addition inside a function:",a+b)
  return inside_fun

inner = outer_fun()
inner()

Addition inside a function: 5

3) Use a loop to display elements from a given list present at odd index positions.

In [ ]:
my_list = []
for i in range(int(input("Starting range:")), int(input("Ending range:"))):
    my_list.append(i)

odd_index_elements = []
for i in range(len(my_list)):
    if i % 2 != 0:
        odd_index_elements.append(my_list[i])

for j in range(len(odd_index_elements)):
    print(odd_index_elements[j])

Starting range:0
Ending range:10
1
3
5
7
9

4) Write a program to print the following star pattern using the for loop

In [ ]:
for i in range(1, 6):
  print('*'*i)
for i in range(4,-1,-1):
  print('*'*i)

*
**
***
****
*****
****
***
**
*

5) Write a program to accept a number from a user and calculate the sum of all numbers
from 1 to a given number.

In [ ]:
num = int(input(" User: "))
sum = 0
for i in range(1, num + 1):
    sum += i
print("The sum of all numbers from 1 to", num, "is:", sum)

 User: 8
The sum of all numbers from 1 to 8 is: 36

7) Write a program to increase those values in the given Pandas Series by 50 which are
less than 70.

In [ ]:
S1 = pd.Series([10,20,50,70,80,90,100])
S1[S1<70]= S1+50
print(S1)

0     60
1     70
2    100
3     70
4     80
5     90
6    100
dtype: int64