In [1]:
import numpy as np
import pandas as pd

In [2]:
#1) Create a series S1 which holds the values in list format
S1 = pd.Series([1,2,"g","r","e",10])
S1

0     1
1     2
2     g
3     r
4     e
5    10
dtype: object

In [3]:
#2) Create a series object which stores initial budget value of 30k per day for each quarter of the year
S2 = pd.Series(30000, index= ["Quart 1","Quart 2","Quart 3","Quart 4"])
S2

Quart 1    30000
Quart 2    30000
Quart 3    30000
Quart 4    30000
dtype: int64

In [4]:
#3)Create a series object where using the ndarray which has 10 elements in range of 0-70.
arr = np.random.randint(0,70, size=10)
S3 = pd.Series(arr)
S3

0    41
1    60
2    58
3    28
4    26
5     6
6    14
7    32
8     0
9    60
dtype: int64

In [5]:
#4)Create a dictionary which stores the total Hindi Marks of the students in 4 section
dict = {"A": 75, "B": 69, "C": 80, "D": 95}
S4 = pd.Series(dict)
S4

A    75
B    69
C    80
D    95
dtype: int64

In [6]:
#5) Create a series of object which stores 200 questions which held every 2 year from time period 2002-2023
years = np.arange(2002,2023,2)
S5= pd.Series(200, index = years)
S5

2002    200
2004    200
2006    200
2008    200
2010    200
2012    200
2014    200
2016    200
2018    200
2020    200
2022    200
dtype: int64