In [ ]:
#Create User defined 2 lists
n = int(input("No. of elements on the list:"))

elements1 = input("list1: ")
elements2 = input("list2: ")

list1 = list(map(int, elements1.split()))
list2 = list(map(int, elements2.split()))

print("The first list is:", list1)
print("The second list is:", list2)

#Insert
list1.insert(int(input("Index1:")),int(input("Value1:")))
list2.insert(int(input("Index2:")),int(input("Value2:")))
print(list1)
print(list2)

#Modify
list1[int(input("Modify Index1:"))]= int(input("Modify value1:"))
list2[int(input("Modify Index2:"))]= int(input("Modify value2:"))
print(list1)
print(list2)

#pop
list1.pop(int(input("pop index1:")))
list2.pop(int(input("pop index2:")))
print(list1)
print(list2)

# concatenation
list3 = list1+list2
print(list3)

#Repitation
list4 = list3*3
print(list4)

No. of elements on the list:10
list1: 1 2 3 4 5 6 7 8 9 10
list2: 11 12 13 14 15 16 17 18 19 20
The first list is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The second list is: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Index1:3
Value1:30
Index2:5
Value2:25
[1, 2, 3, 30, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 25, 16, 17, 18, 19, 20]
Modify value1:6
Modify Index1:2
Modify value2:24
Modify Index2:7
[1, 2, 6, 30, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 25, 16, 24, 18, 19, 20]
pop index1:3
pop index2:5
[1, 2, 6, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 24, 18, 19, 20]
[1, 2, 6, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 24, 18, 19, 20]
[1, 2, 6, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 24, 18, 19, 20, 1, 2, 6, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 24, 18, 19, 20, 1, 2, 6, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 24, 18, 19, 20]

In [ ]:
import pandas as pd
import numpy as np

s1 = pd.Series(["e","g","h"])
s1

0    e
1    g
2    h
dtype: object

In [ ]:
S2 = pd.Series(30000,index = ["Q1","Q2","Q3","Q4"])
S2

Q1    30000
Q2    30000
Q3    30000
Q4    30000
dtype: int64